body {
    background-color: #24232b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    margin: 0;
}

#reloj {
    font-family: Courier, monospace;
    font-size: 150px; 
    color: white;
    border: 1px solid white;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #20232a;
    box-shadow: 0 0 20px white;
    width: 730px;
}

.animar{
    animation: sacudir 0.6s ease-in-out;
}

@keyframes sacudir{
    0% { transform: rotate(0deg) scale(1); }
    20% { transform: rotate(15deg) scale(1.05); }
    40% { transform: rotate(-15deg) scale(1.05); }
    60% { transform: rotate(10deg) scale(1); }
    80% { transform: rotate(-10deg) scale(1); }
    100% { transform: rotate(0deg) scale(1); }
}


@media (min-width: 375px) and (max-width: 768px) {
    #reloj {
        font-size: 60px;
        width: auto;
    }
}
@media (min-width: 820px) and (max-width: 1280px) {
    #reloj {
        font-size: 120px;
        width: auto;
    }
}